@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: inherit;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Josefin sans", sans-serif;
  background-color: #d8d8d8; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 31.25%; } }

.intro {
  background-color: rgba(0, 0, 0, 0.774);
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .intro {
      height: 80vh; } }
  .intro__heading {
    animation: moveToRight .5s ease-out; }
    .intro__heading.heading {
      color: #ff9542; }
  .intro__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 2rem;
    animation: moveToLeft .5s ease-out .5s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .intro__box {
        width: 80%; } }
    .intro__box--img {
      display: block;
      height: 20rem;
      width: 20rem;
      border-radius: 100rem;
      filter: brightness(1.1);
      border: 0.4rem solid #e2480c;
      margin-right: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .intro__box--img {
          display: none; } }
    .intro__box--text {
      font-size: 1.8rem;
      font-weight: 600;
      color: #ffdaaf; }
      .intro__box--text p {
        font-size: 4rem;
        color: #ffdaaf;
        font-weight: bold; }

.contact {
  background-image: linear-gradient(to right, rgba(216, 216, 216, 0.4), rgba(216, 216, 216, 0.4)), url(../../img/bg-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  height: 90vh; }
  .contact__container {
    width: 45%;
    height: 90%;
    padding: 0 2rem;
    border-radius: 10px;
    margin-left: 5rem;
    background-color: #d8d8d8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media only screen and (max-width: 68.75em) {
      .contact__container {
        height: 80%; } }
    @media only screen and (max-width: 56.25em) {
      .contact__container {
        height: 70%;
        width: 80%;
        margin: 0 auto; } }

.contact__heading.heading {
  align-self: center;
  position: relative; }
  .contact__heading.heading:before {
    content: "Contact me";
    position: absolute;
    top: -30%;
    left: -30%;
    opacity: 0;
    transition: all .2s; }
  .contact__heading.heading:hover:before {
    top: 0;
    left: 0;
    opacity: 1; }

.form {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 0 2rem 2rem 2rem; }
  @media only screen and (max-width: 56.25em) {
    .form {
      grid-gap: 2rem; } }
  .form__label--name, .form__label--email, .form__label--message {
    font-size: 1.6rem;
    display: block;
    margin-left: 1rem;
    font-weight: 600; }
  .form__label--name, .form__label--email {
    transition: all 0.2s; }
  .form__label--message {
    margin: 1rem; }
  .form__input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5px; }
  .form__input:placeholder-shown + .form__label--name,
  .form__input:placeholder-shown + .form__label--email {
    opacity: 0;
    transform: translateY(-4rem);
    visibility: hidden; }
  .form__group--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .form__group--2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .form__group--3 {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 2 / 3; }
  .form__message {
    width: 100%;
    overflow: auto;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 2rem;
    padding: 1.5rem; }
  .form__btn {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 13rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #ff9542;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 1rem;
    transition: all 0.1s;
    cursor: pointer; }
    .form__btn:hover {
      transform: translateY(-5px);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); }
    .form__btn:active {
      transform: translateY(-2px);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); }
  .form__socialbox {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .form__socialbox a:not(:last-child) {
      margin-right: 1rem; }
    .form__socialbox a {
      display: flex; }
  .form__icon.icon {
    width: 3rem;
    height: 3rem;
    fill: #009afa; }

.footer {
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
  text-align: center; }

.sidebar {
  background-color: #ff9542;
  border-bottom: 0.5px solid rgba(216, 216, 216, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 6vh; }

.nav {
  list-style: none;
  display: flex;
  padding-right: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      width: 100%;
      justify-content: space-around;
      padding: 0; } }
  .nav__item:not(:last-child) {
    margin-right: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__item:not(:last-child) {
        margin: 0; } }
  .nav__item a:link,
  .nav__item a:visited {
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    font-family: "Nunito", sans-serif; }
    .nav__item a:link:hover,
    .nav__item a:visited:hover {
      line-height: 1.3;
      border-bottom: 3px solid #000; }
    @media only screen and (max-width: 56.25em) {
      .nav__item a:link,
      .nav__item a:visited {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav__item a:link,
      .nav__item a:visited {
        font-size: 3rem; } }
  .nav__icon {
    margin-right: 1.5rem;
    line-height: 0; }

.project {
  background-color: rgba(0, 0, 0, 0.616);
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .project {
      justify-content: space-around; } }
  @media only screen and (max-width: 37.5em) {
    .project {
      min-height: 70vh; } }
  .project__heading.heading-1 {
    color: #fff; }

.columns {
  width: 70%;
  height: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.column-1,
.column-2 {
  background-color: #ffdaaf;
  height: 80%;
  width: 30%;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 56.25em) {
    .column-1,
    .column-2 {
      height: 100%;
      width: 40%; } }
  @media only screen and (max-width: 37.5em) {
    .column-1,
    .column-2 {
      width: 50%; } }

.column__pic {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: right;
  border: 2px solid #d8d8d8;
  background-position: center;
  transition: all 0.3s; }
  .column__pic-1 {
    background-image: url(../../img/project-1.PNG);
    background-position: center; }
    .column__pic-1:after {
      content: "";
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.5); }
    .column__pic-1:hover:after {
      content: "HTML \a CSS";
      text-align: center;
      white-space: pre-line;
      background-image: linear-gradient(to right, rgba(216, 216, 216, 0.5), rgba(216, 216, 216, 0.5)), url(../../img/project-1.PNG);
      background-position: center;
      background-size: cover; }
    .column__pic-1:hover {
      background-image: none;
      border: 3px solid #ff9542; }
  .column__pic-2 {
    background-image: url(../../img/project-2.JPG); }
    .column__pic-2:after {
      content: "";
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      font-size: 3rem;
      color: rgba(0, 0, 0, 0.5); }
    .column__pic-2:hover:after {
      content: "HTML CSS \aReactjs \a Bootstrap";
      text-align: center;
      white-space: pre-line;
      background-image: linear-gradient(to right, rgba(216, 216, 216, 0.5), rgba(216, 216, 216, 0.5)), url(../../img/project-2.JPG);
      background-position: center;
      background-size: cover; }
    .column__pic-2:hover {
      background-image: none;
      border: 3px solid #ff9542; }

.column__description {
  height: 50%;
  position: relative; }
  .column__description-text {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem; }
  .column__description-btn:link, .column__description-visited:link {
    width: 100%;
    height: 20%;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    text-transform: uppercase;
    color: #083b88;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s; }
  .column__description-btn:hover {
    transform: translateY(-2px) scale(1.2); }
  .column__description-btn:active {
    color: #083b88; }

.skill {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../img/test-3.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh; }
  @media only screen and (max-width: 56.25em) {
    .skill {
      height: 70vh; } }
  @media only screen and (max-width: 37.5em) {
    .skill {
      height: 60vh; } }
  .skill__heading {
    font-family: "Nunito", sans-serif;
    letter-spacing: 2rem;
    text-transform: uppercase;
    margin-bottom: 5rem; }
  .skill__container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
    align-content: center;
    grid-gap: 3rem;
    justify-items: center; }

.signs__name {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff; }

.signs__icon.icon {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto 1.5rem auto;
  transition: all 0.2s; }
  .signs__icon.icon:hover {
    transform: scale(1.2); }

.skill__heading.heading-1 {
  color: #fff;
  position: relative; }
  .skill__heading.heading-1:before {
    content: "Skills";
    position: absolute;
    top: -30%;
    left: -30%;
    opacity: 0;
    transition: all .2s; }
  .skill__heading.heading-1:hover:before {
    top: 0;
    left: 0;
    opacity: 1; }

.heading {
  font-family: Josefin Sans,sans-serif;
  color: rgba(0, 0, 0, 0.5); }

.heading-1 {
  font-size: 8rem; }

.heading-2 {
  font-size: 6rem; }

.heading-3 {
  font-size: 5rem; }

.icon {
  width: 2.5rem;
  height: 2.5rem; }
