//COLOR VARIABLE
$color-primary:rgb(0, 154, 250);
$color-primary-light:rgba(135, 217, 240, 0.842);
$color-primary-dark:rgb(8, 59, 136);

$color-grey-light:rgb(216, 216, 216);
$color-grey-dark:rgba(black,.5);

$color-secondary:rgb(255, 149, 66);
$color-secondary-light:rgb(255, 218, 175);
$color-secondary-dark:rgb(226, 72, 12);

//BREAK POINT
$bp-large : 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small:37.5em; // 600px
$bp-xsmall: 31.25em; // 500px

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    box-sizing:inherit;
    line-height:1.6;
    font-weight:400;
    font-family: "Josefin sans", sans-serif;
    background-color: $color-grey-light;
}

html{
    //1rem = 10px
    font-size:62.5%;

    //1rem = 8px
    @media only screen and (max-width:$bp-large) {
        font-size:50%;
    }

    //1rem = 6px
    @media only screen and (max-width:$bp-medium) {
        font-size:37.5%;
    }
    
    //1rem = 5px
    @media only screen and (max-width:$bp-small) {
        font-size:31.25%;
    }
}

