.skill {
  background-image: linear-gradient(to right, rgba(#000, 0.6), rgba(#000, 0.6)),
    url(../../img/test-3.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  @media only screen and (max-width: $bp-medium) {
    height: 70vh;
  }

  @media only screen and (max-width: $bp-small) {
    height: 60vh;
  }

  &__heading {
    font-family: "Nunito", sans-serif;
    letter-spacing: 2rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }

  &__container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(5rem, 1fr));
    align-content: center;
    grid-gap: 3rem;
    justify-items: center;
  }
}

.signs {
  &__name {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
}

.signs__icon.icon {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto 1.5rem auto;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}

.skill__heading.heading-1 {
  color: #fff;
  @include moveIn("Skills");
}
